@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  a,
  blockquote,
  li {
    @apply text-gray-400;
  }

  .hover-text-shadow {
    @apply transition duration-300;
  }

  .hover-text-shadow:hover {
    text-shadow: 4px 4px 8px rgba(251, 113, 133, 0.8);
  }

  .hover-button-shadow:hover {
    box-shadow: 4px 4px 8px rgba(251, 113, 133, 0.8);
  }

  .icon-NavBar {
    @apply w-7 mb-1.5;
  }

  .text-NavBar {
    @apply hidden sm:block px-10 py-1 hover-text-shadow uppercase;
  }

  .btn {
    @apply bg-slate-900 text-white 
    hover-button-shadow 
    px-3 w-auto h-20 rounded-md;
  }

  .iconFooter {
    @apply w-4 ml-3;
  }

  .logo {
    @apply h-10 m-4;
  }

  .slider {
    @apply grid;
    grid-template-areas: "slide";
  }

  .slider-childs {
    @apply before:absolute before:inset-0 before:bg-gradient-to-b from-transparent to-black;
    grid-area: slide;
    transition: 0.01s clip-path 0.6s;
    clip-path: polygon(0 0, 0% 100%, 0 100%);
  }

  [data-active] {
    order: 1;
    transition: 0.6s clip-path;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }

  .slider-left {
    grid-area: slide;
    @apply z-[100] self-center justify-self-start;
  }
  .slider-right {
    grid-area: slide;
    @apply z-[100] self-center justify-self-end;
  }
}
